// ---------------
// Global Settings
// ---------------

// Font stacks (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")

verdana = Verdana, Geneva, sans-serif

// Default font settings
font-stack = 'Roboto'
font-size = 16
font-color = #333

$font-stack = font-stack


// Colors (via http://clrs.cc - slightly modded)
navy = #001F3F
blue = #0074D9
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #6C0 //#2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #C20 //#D13F19
maroon = #85144B
fuchsia = #F012BE
purple = #B10DC9
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #222222


navbar-background-color = #FFF

background-color = #FFF

// background-color = #555
// work-item-background-color = #333

// Default color
default-color = blue

// Text highlight color
highlight-color = blue

// Custom image base path for roots mixins
img-path = ''

// Support for old IE
support-for-ie = false

// Ligatures
ligatures = false

// Vertical rhythm
base-line-height = 24px
default-rhythm-border-style = solid
relative-font-sizing = true
round-to-nearest-half-line = false
min-line-padding = 2px

// Progressive IE (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'



nav-height = 6em
nav-spacing = 1em
nav-line-height = 0.3em
nav-top-buffer = nav-spacing
inner-nav-height = nav-height - nav-spacing * 2 - nav-line-height
footer-height = 3.3em


// Media sizes
// sizes from default bootstrap breakpoints

screen-xsmall = 480px
screen-small = 768px
screen-medium = 992px
screen-large = 1200px

screen-xsmall-min = screen-xsmall
screen-small-min = screen-small
screen-medium-min = screen-medium
screen-large-min = screen-large
screen-xsmall-max = screen-small-min - 1
screen-small-max = screen-medium-min - 1
screen-medium-max = screen-large-min - 1

rupture.scale = 0 480px 768px 992px 1200px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

typography()
	bold-italic()
	headers()
	lists()
	text-selection()

	p
		paragraph()

	small
		small()

	blockquote
		blockquo()

	.hyphenation
		hyphenation()
