// ---------------
// Global Settings
// ---------------

// Default font settings
// buntpapier defaults are fine
monospace = unquote("'Roboto Mono', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace")

$clr-primary = $clr-red

rupture.scale = 0 480px 768px 992px 1200px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
