@import './_settings'
@import './_material_color'

normalize-css()
base()
typography()


body
	background-color clr-grey-50


.map
	height 100vh

.leaflet-pane > svg .d3-overlay path
	pointer-events all

.d3-tip
	padding .5rem
	border-radius 3px
	background-color clr-blue-grey-900
	color clr-grey-50
	z-index 500
	font-weight 200
